{{#if isEditing}}
<input class="entry__input"
  placeholder="Entry" 
  escape-press="escape" 
  value={{formattedValue}}
  onInput={{action 'handleChange'}}
  disabled={{isNotEditing}} />
{{else}}
<p class="entry__value" tabindex={{tabIndex}}>{{formattedValue}}</p>
{{/if}}
