<input 
  placeholder="Entry" 
  escape-press="escape" 
  value={{value}}
  onInput={{action 'handleChange'}}
  disabled={{isNotEditing}} />
<p>Selected {{isSelected}}</p>
<p>Editing {{isEditing}}</p>
