{{#if isEditing}}
<input 
  placeholder="Entry" 
  escape-press="escape" 
  value={{value}}
  onInput={{action 'handleChange'}}
  disabled={{isNotEditing}} />
{{else}}
<p class="label" tabindex={{tabIndex}}>{{value}}</p>
{{/if}}
