<h1>Login</h1>
<p>View past standups, manage your account etc</p>
<form>
  <input value={{email}} oninput={{action (mut email) value="target.value"}} placeholder="Email Address"/>
  <input type="password" value={{password}} oninput={{action (mut password) value="target.value"}} placeholder="Password"/>
  <button disabled={{loggingIn}} {{action 'login'}}>
    {{#if loggingIn}}
      Logging In...
    {{else}}
      Log In
    {{/if}}
  </button>
</form>
{{#link-to 'register'}}Register{{/link-to}}
