{{#freestyle-guide
  title='My Component Playground'
  subtitle='Examples of the custom components in this app'
  }}

  {{#freestyle-section name='Components' as |section|}}
    {{#section.subsection name='ow-list'}}
      {{#freestyle-usage 'ow-list-example-1'}}
        <ul>
          {{#ow-list items=owListItems as |item isSelected|}}
          <li>Item {{item.name}} - {{isSelected}}</li>
          {{/ow-list}}
        </ul>
      {{/freestyle-usage}}
      {{#freestyle-usage 'ow-list-example-2'}}
        {{#ow-list items=owListItems as |item isSelected|}}
          {{ow-entry selected=isSelected}}
        {{/ow-list}}
      {{/freestyle-usage}}
    {{/section.subsection}}
    {{#section.subsection name='ow-entry'}}
      {{#freestyle-usage 'ow-entry-example-1'}}
        {{ow-entry}}
      {{/freestyle-usage}}
      {{#freestyle-usage 'ow-entry-example-2'}}
        {{ow-entry}}
      {{/freestyle-usage}}
    {{/section.subsection}}
  {{/freestyle-section}}
  {{#freestyle-section name='Visual Style' as |section|}}
    {{#section.subsection name='Typography'}}

      {{#freestyle-usage 'typography-times' title='Times New Roman'}}
        {{freestyle-typeface fontFamily='Times New Roman'}}
      {{/freestyle-usage}}

      {{#freestyle-usage 'typography-helvetica' title='Helvetica'}}
        {{freestyle-typeface fontFamily='Helvetica'}}
      {{/freestyle-usage}}

    {{/section.subsection}}

    {{#section.subsection name='Color'}}

      {{#freestyle-usage 'fp' title='Freestyle Palette' usageTitle='Usage'}}
        {{freestyle-palette
        colorPalette=colorPalette
        title='Dummy App Color Palette'
        description='This component displays the color palette specified in freestyle/palette.json'
        }}
      {{/freestyle-usage}}

    {{/section.subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
