{{#freestyle-guide
  title='My Component Playground'
  subtitle='Examples of the custom components in this app'
  }}

  {{#freestyle-section name='Components' as |section|}}
    {{#section.subsection name='ow-list'}}
      {{#freestyle-usage 'ow-list-example-1'}}
        <ul>
          {{#ow-list items=owListItems as |item isSelected selectItem|}}
          <li {{action selectItem}}>Item {{item.name}} - {{isSelected}}</li>
          {{/ow-list}}
        </ul>
      {{/freestyle-usage}}
      {{#freestyle-usage 'ow-list-example-2'}}
        {{#ow-editor as |editing|}}
          {{#ow-list items=owListItems as |item isSelected selectItem|}}
            {{ow-entry value=item.name selected=isSelected editing=editing onSelectRequest=selectItem onRemoveRequest=(action "removeItem" item) onEnter=(action "insertAfter" item) onChange=(action (mut item.name))}}
          {{/ow-list}}
        {{/ow-editor}}
      {{/freestyle-usage}}
    {{/section.subsection}}
    {{#section.subsection name='ow-entry'}}
      {{#freestyle-usage 'ow-entry-example-1'}}
        {{ow-entry selected=true editing=true value='This is my entry' onChange=(action 'handleValueChange')}}
      {{/freestyle-usage}}
      {{#freestyle-usage 'ow-entry-example-2'}}
        {{ow-entry selected=false value='I am not selectable'}}
      {{/freestyle-usage}}
      {{#freestyle-usage 'ow-entry-example-3'}}
        {{ow-entry selected=true editing=false value='I am not editable'}}
      {{/freestyle-usage}}
    {{/section.subsection}}
  {{/freestyle-section}}
  {{#freestyle-section name='Visual Style' as |section|}}
    {{#section.subsection name='Typography'}}

      {{#freestyle-usage 'typography-times' title='Times New Roman'}}
        {{freestyle-typeface fontFamily='Times New Roman'}}
      {{/freestyle-usage}}

      {{#freestyle-usage 'typography-helvetica' title='Helvetica'}}
        {{freestyle-typeface fontFamily='Helvetica'}}
      {{/freestyle-usage}}

    {{/section.subsection}}

    {{#section.subsection name='Color'}}

      {{#freestyle-usage 'fp' title='Freestyle Palette' usageTitle='Usage'}}
        {{freestyle-palette
        colorPalette=colorPalette
        title='Dummy App Color Palette'
        description='This component displays the color palette specified in freestyle/palette.json'
        }}
      {{/freestyle-usage}}

    {{/section.subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
