<h1>{{moment-format date "dddd, MMMM Do YYYY"}}</h1>
<button {{action "createTopic" model}}>Add a topic</button>
<button {{action "save"}}>Save</button>
{{#if saveTask.isRunning}}
  <p>Im saving</p>
{{/if}}
{{#if model.hasDirtyAttributesAndRelationships}}
  <p> Im ready to save</p>
{{/if}}
<h2>Topics</h2>
{{#each model.topics as |topic|}}
<h3>{{topic.subject}}</h3>
{{input type="text" value=topic.subject}}
<h4>Yesterday</h4>
{{#ow-editor as |editing|}}
  {{#ow-list items=topic.yesterdays as |item isSelected selectItem|}}
    {{ow-entry value=item.body 
      selected=isSelected
      onEnter=(action "createEntry" topic topic.yesterdays item)
      onSelectRequest=selectItem 
      onRemoveRequest=(action "deleteEntry" topic item)
      onChange=(action (mut item.body))
      editing=editing}}
  {{/ow-list}}
{{/ow-editor}}
<button {{action "createEntry" topic topic.yesterdays}}>New Entry</button>
<h4>Today</h4>
{{#ow-editor as |editing|}}
  {{#ow-list items=topic.todays as |item isSelected selectItem|}}
    {{ow-entry value=item.body 
      selected=isSelected
      onEnter=(action "createEntry" topic topic.todays item)
      onSelectRequest=selectItem 
      onRemoveRequest=(action "deleteEntry" topic item)
      onChange=(action (mut item.body))
      editing=editing}}
  {{/ow-list}}
{{/ow-editor}}
<button {{action "createEntry" topic topic.todays}}>New Entry</button>
<h4>Blockers</h4>
{{#ow-editor as |editing|}}
  {{#ow-list items=topic.blockers as |item isSelected selectItem|}}
    {{ow-entry value=item.body 
      selected=isSelected
      onEnter=(action "createEntry" topic topic.blockers item)
      onSelectRequest=selectItem 
      onRemoveRequest=(action "deleteEntry" topic item)
      onChange=(action (mut item.body))
      editing=editing}}
  {{/ow-list}}
{{/ow-editor}}
<button {{action "createEntry" topic topic.blockers}}>New Entry</button>
{{/each}}
{{outlet}}
