<h1>Showing a standup with id {{model.id}}</h1>
<button {{action "createTopic" model}}>Add a topic</button>
<h2>Topics</h2>
{{#each model.topics as |topic|}}
<h3>{{topic.subject}}</h3>
{{input type="text" value=topic.subject}}<button {{action "saveTopic" topic}}>Rename</button>
<h4>Yesterday</h4>
{{#each topic.yesterdays as |entry|}}
{{ow-entry}}
{{input type="text" value=entry.body}}<button {{action "saveEntry" entry}}>Save</button><button {{action "deleteEntry" topic entry}}>Delete</button>
{{/each}}

<button {{action "createYesterdayEntry" topic}}>New Entry</button>
<h4>Today</h4>
<h4>Blockers</h4>
{{/each}}
{{outlet}}
